@use 'var';

//uib
.lendsqr__main__content___body__profile_desc{
    box-sizing: border-box;

    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: var.$box-shadow;
    border-radius: 4px;
    background: #fff;

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1rem 3rem 5rem;
    margin: 40px auto;
}
//cbw
.lendsqr__main__content___body__profile_desc_box{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    h4{
         text-align: left;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #213f7d;
    }
}

//cbo
.lendsqr__main__content___body__table__profile_desc_content {
    // padding: 2rem;
    // left: 23rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}





hr{
    opacity: 0.2;
    width: 93%;
}

//c-i
.lendsqr__main__content___body__profile_desc_content__item{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;

    margin-right: 70px;
    margin-bottom: 20px;

    text-align: left;
    &span{
         font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;

      color: #545f7d;
    }

    &p{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: var.$text-color;
    }
}




// Short Profile Styles

.vertical_line {
    width: 10%;
    height: 0px;

    margin-top: 20px;

    opacity: 0.1;
    border: 1px solid #545f7d;
    transform: rotate(90deg);
}



// For short profile css
// .lendsqr__main__content__body__shortprofile{
//     width: 100vw;
// }


// .lendsqr__main__content__body__shortprofile__card{
// box-sizing: content-box;
//     width: 240px;
//     height: 160px;
// background: #FFFFFF;
// @extend %box-border-shared;


// }


.lendsqr__main__content__body__shortprofile__card {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  height: 210px;

  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  padding: 30px 10px 0px 10px;

  align-items: center;
  justify-content: center;
  margin: auto;
}

.lendsqr__main__content__body__shortprofile__card_details_top {
  display: flex;
  flex-direction: row;
  align-items: center;
    box-sizing: content-box;
    width: 100%;
    background: #FFFFFF;
    justify-content: start;
}

.lendsqr__main__content__body__shortprofile__card_details_left {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: self-end;

  img {
    margin-right: 20px;
    border-radius: 50%;
  }

  h3 {
    font-weight: 500;
    font-size: 22px;
    color: #213f7d;
  }

  h4 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;

    color: #545f7d;
  }

  p {
    font-weight: 400;
    font-size: 14px;

    margin-top: 0;
    color: #545f7d;
  }
}

.lendsqr__main__content__body__shortprofile__card_details_right{
    display:grid;
    place-self:end;
}

.lendsqr__main__content__body__shortprofile__card_details_nav {
  position: absolute;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;

  bottom: 0;
  margin: 0;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 1rem 1.7rem;


  }
  .user_nav_active {
    text-decoration: underline;

    text-underline-offset: 7.5px;
    text-underline-position: under;


    text-decoration-thickness: 2px;

    color: #39cdcc;
  }

}
