@use 'var';


.modal__wrapper{
    box-sizing: border-box;

    width: 13rem;
    height: 13rem;
    // display:none;

    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    &.active{
        position:absolute;
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 600px){
    .lendsqr__main__content___body__tables{
        width: 100%;
    }

    .lendsqr__main__content___body__table{
        width: 100%;
    }
}

.lendsqr__main__content___body__tables {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10rem;

}

.lendsqr__main__content___body__table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 9px 2px 16px rgb(0 0 0 / 4%);
    border-radius: 4px;

}

.lendsqr__main__content___body__table__head,
.lendsqr__main__content___body__table__data,
.lendsqr__main__content___body__table__data__option {
    font-size: 1rem;
    text-align: left;
    padding: 0.25em;
}

.lendsqr__main__content___body__table__head {
    margin-right: 1rem;

    span {
        margin-right: inherit;
    }

}

.lendsqr__main__content___body__table__head {
    background: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #545F7D;

    padding: 3rem 0 3rem 3rem;
}

.lendsqr__main__content___body__table__data {
    background: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    // line-height: 16px;

    color: #545F7D;

    padding: 3rem 2rem 3rem 3rem;
}


// .lendsqr__main__content___body__table__data__option:after {
//     content: '\2807';
//     font-size: 10px;
//     position: relative;
//     left: 1.5rem;
// }


.lendsqr__main__content___body__table__data__option {
    padding: 0 3rem 0 0;
}

.lendsqr__main__content___body__table__data_row {

    border-bottom: 1px solid rgba(33, 63, 125, 0.1);

}

.lendsqr__main__content___body__table__data__status__inactive {


    p {
        color: #545F7D;
        opacity: 1;
        display: grid;
        place-content: center;
        background: rgba(84, 95, 125, 0.061);
        border-radius: 50px;
        height: 4rem;
        padding: 2rem 3rem;
        text-align: center;

    }

}


@media only screen and (max-width: 600px) {
    .lendsqr__main__content___body__tables {}

    .lendsqr__main__content___body__table {
        padding: 0 10rem;
    }

    .lendsqr__main__content___body__table__head,
    .lendsqr__main__content___body__table__data {
        flex: 1 1 150px;
        margin: 1rem;


    }

    // .lendsqr__main__content___body__table__data__option:after {
    //     content: "⠇";
    //     font-size: 10px;
    //     position: relative;
    //     left: 0;
    // }

    .lendsqr__main__content___body__table__head,
    .lendsqr__main__content___body__table__data,
    .lendsqr__main__content___body__table__data__option
    {
        text-align: left;
        padding: 0.25em;
        box-sizing: border-box;
    }


    .lendsqr__main__content___body__table__head {}

    .lendsqr__main__content___body__table__data {}

    .lendsqr__main__content___body__table__data__option {}

    .lendsqr__main__content___body__table__head_row,
    .lendsqr__main__content___body__table__data_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        align-items: center;
        width: calc((100% - 0.5em) / (7));

    }

    .lendsqr__main__content___body__table__data_row {

        border-bottom: 1px solid rgba(3, 3, 3, 0.2);
    }


}


@media only screen and (max-width: 1360px) {

    .lendsqr__main__content___body__table__head_row,
    .lendsqr__main__content___body__table__data_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        align-items: center;
        //width: calc((100% - 0.5em) / (7));
        width: calc((100% - 0.5em) / (1));
    }

    .lendsqr__main__content___body__table__head,
    .lendsqr__main__content___body__table__data {

        flex: 1 1 150px;
        overflow-wrap: break-word;


    }



    .lendsqr__main__content___body__table__data__status__inactive {

        display: grid;
        place-content: center;

    }

    // .lendsqr__main__content___body__table__data__option:after {
    //     content: "⠇";
    //     font-size: 10px;
    //     position: relative;
    //     left: 0;
    // }
}
