@use 'var';


// Extends
%menu--items-shared{

display: grid;
    place-content: flex-start;
    place-items: self-start;

    margin: 3.5rem 0;
    margin-left: 2rem;
}

%menu--items--title-shared{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#213F7D;
    opacity: 0.5;
    text-transform: capitalize;
    box-sizing: border-box;
    outline: 1px solid rgba(0, 0, 0, 0.1);

}


.lendsqr_aside_block{
    // display: block;
    position: fixed;
    top: -15px;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 10;
}

.close{
    margin-left: 5px;
    z-index: 10;
    display:none;
}

.close_icon{
    // display: none;
    fill: #000;
    transition: transform 0.2s;
}


.lendsqr__aside {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.lendsqr__header__logo {
    margin-left: 2rem;
    img{
        max-width: 120px;
        fill: #fff;
        margin-top:5rem;

    }
}
.lendsqr__aside__menu{

    background-color: #fff;
    box-shadow: var.$box-shadow;
    overflow: hidden;
    height: 93vh;
    transition: 1s;

    &:hover, &:active{
    overflow-y: scroll;

    }
}

.lendsqr__aside__menu__items{
    padding-top: 5rem;

}

.lendsqr__aside__menu_header__container{
    @extend %menu--items-shared;
}

.lendsqr__aside__menu__header{
    color: var.$text2-color;
    text-transform: uppercase;
    margin: 2rem 0;


}

.lendsqr__aside__menu_header__container__item{
    @extend %menu--items-shared;

}

.lendsqr__aside__menu_header__container__item__link{
    display:flex;
    margin: 1rem 0;

    &:active{
        color: red;
    }

    &:hover{
        color: blue;
    }

}

.lendsqr__aside__menu_header__container__item__title{
    margin-left: 1rem;
    @extend %menu--items--title-shared;
}


// @media :start
@media only screen and (max-width: 600px){
    aside{
        display: block;
    }

    .lendsqr__aside{
        // display: none;
        flex-direction: row;
        min-height:0%;
    }

    .lendsqr__header__logo{
        display:none;
    }

    .lendsqr__aside__menu{
        display: none;
    }

    .lendsqr_aside_block{
        position:static;
        width: 100%;
        display: none;
    }

    .close{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        z-index: 10;
    }
}
// @media :end
