@use 'var';


.modal__wrapper {
    background-color: #f9f9f9;
    background: #fff;
    border: 1px solid rgba(84,95,125,.04);
    border-radius: 4px;
    box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
    display: none;
    flex-direction: column;
    gap: 20px;
    height: 130px;
    padding: 20px 21px;
    position: absolute;
    right: 20px;
    top: 0;
    width: 180px;
    z-index: 9999;





  .modal__item {
    display: flex;
    flex-direction: row;

    justify-content: center;

    text-decoration: none;

    align-items: center;

    img {
      margin-right: 10px;
    }

    span {
      color: #545f7d;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    cursor: pointer;
  }

  .item:hover {
    text-decoration: underline;
  }
}

 .active {
    position: absolute;
    display: contents;
    flex-direction: column;
  }

@media only screen and (max-width: 600px){
    .lendsqr__main__content___body__tables{
        width: 100%;
    }

    .lendsqr__main__content___body__table{
        width: 100%;
    }
}

.lendsqr__main__content___body__tables {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10rem;

}

.lendsqr__main__content___body__table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 9px 2px 16px rgb(0 0 0 / 4%);
    border-radius: 4px;

}

.lendsqr__main__content___body__table__head,
.lendsqr__main__content___body__table__data,
.lendsqr__main__content___body__table__data__option {
    font-size: 1rem;
    text-align: left;
    padding: 0.25em;
}

.lendsqr__main__content___body__table__head {
    margin-right: 1rem;

    span {
        margin-right: inherit;
    }

}

.lendsqr__main__content___body__table__head {
    background: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #545F7D;

    padding: 3rem 5.5rem 3rem 2rem;
    display: -webkit-inline-box;
}

.lendsqr__main__content___body__table__data {
    background: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    // line-height: 16px;

    color: #545F7D;

    padding: 3rem 2rem 3rem 3rem;
}


// .lendsqr__main__content___body__table__data__option:after {
//     content: '\2807';
//     font-size: 10px;
//     position: relative;
//     left: 1.5rem;
// }


.lendsqr__main__content___body__table__data__option {
    padding: 0 3rem 0 0;
}

.lendsqr__main__content___body__table__data_row {

    border-bottom: 1px solid rgba(33, 63, 125, 0.1);

}

.lendsqr__main__content___body__table__data__status {
    p {
        color: #545F7D;
        opacity: 1;
        display: grid;
        place-content: center;
        background: rgba(84, 95, 125, 0.061);
        border-radius: 50px;
        height: 4rem;
        // padding: 2rem 3rem;
        text-align: center;
        height: 30px;
        border: none;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;

        &.pending {
            background-color: rgba(#e9b200, 0.1);
            color: #e9b200;
            width: 90px;
        }

            &.blacklisted {
            color: #e4033b;
            background-color: rgba(#e4033b, 0.1);
            width: 100px;
        }

        &.active {
            color: #39cd62;
            background-color: rgba(#39cd62, 0.06);
            width: 90px;
            position: relative;
        }

        &.inactive {
            color: #545f7d;
            background-color: rgba(#545f7d, 0.06);
            width: 80px;
        }

        }

}


@media only screen and (max-width: 600px) {
    .lendsqr__main__content___body__tables {}

    .lendsqr__main__content___body__table {
        padding: 0 10rem;
    }

    .lendsqr__main__content___body__table__head,
    .lendsqr__main__content___body__table__data {
        flex: 1 1 150px;
        margin: 1rem;


    }

    // .lendsqr__main__content___body__table__data__option:after {
    //     content: "⠇";
    //     font-size: 10px;
    //     position: relative;
    //     left: 0;
    // }

    .lendsqr__main__content___body__table__head,
    .lendsqr__main__content___body__table__data,
    .lendsqr__main__content___body__table__data__option
    {
        text-align: left;
        padding: 0.25em;
        box-sizing: border-box;
    }


    .lendsqr__main__content___body__table__head {}

    .lendsqr__main__content___body__table__data {}

    .lendsqr__main__content___body__table__data__option {}

    .lendsqr__main__content___body__table__head_row,
    .lendsqr__main__content___body__table__data_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        align-items: center;
        width: calc((100% - 0.5em) / (7));

    }

    .lendsqr__main__content___body__table__data_row {

        border-bottom: 1px solid rgba(3, 3, 3, 0.2);
    }


}


@media only screen and (max-width: 1360px) {

    .lendsqr__main__content___body__table__head_row,
    .lendsqr__main__content___body__table__data_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        align-items: center;
        //width: calc((100% - 0.5em) / (7));
        width: calc((100% - 0.5em) / (1));
    }

    .lendsqr__main__content___body__table__head,
    .lendsqr__main__content___body__table__data {

        flex: 1 1 150px;
        overflow-wrap: break-word;


    }



    .lendsqr__main__content___body__table__data__status__inactive {

        display: grid;
        place-content: center;

    }

    // .lendsqr__main__content___body__table__data__option:after {
    //     content: "⠇";
    //     font-size: 10px;
    //     position: relative;
    //     left: 0;
    // }
}
