// @use 'var';

// .lendsqr__main__content___body__tables{

//    margin-bottom: 5rem;
//     background: red;
//     position: absolute;
//     right: 0;
//     /* top: 36px; */
//     width: calc(100% - 14vw);


//     // left: 80px;
// }

// .lendsqr__main__content___body__table {
//
//     background: yellow;


// }



.lendsqr__main__content___body__table__data__option:after{
    content: '\2807';
    font-size: 10px;
}

// .modal__wrapper{
//     box-sizing: border-box;

//     width: auto;
//     height: auto;


//     background: #FFFFFF;
//     border: 1px solid rgba(84, 95, 125, 0.04);
//     box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
//     border-radius: 4px;
// }


// @media only screen and (max-width: 600px){
//     .lendsqr__main__content___body__tables{
//         width: 100%;
//     }

//     .lendsqr__main__content___body__table{
//         width: 100%;
//     }
// }

.lendsqr__main__content___body__tables{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10rem;

}

.lendsqr__main__content___body__table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 9px 2px 16px rgb(0 0 0 / 4%);
    border-radius: 4px;

}

.lendsqr__main__content___body__table__head,
.lendsqr__main__content___body__table__data,
.lendsqr__main__content___body__table__data__option{
    font-size: 1rem;
    text-align: left;
}

.lendsqr__main__content___body__table__head{
    background: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #545F7D;

    padding: 3rem 0 3rem 3rem;
}

.lendsqr__main__content___body__table__data{
    background: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    // line-height: 16px;

    color: #545F7D;

    padding: 3rem 2rem 3rem 3rem;
}

.lendsqr__main__content___body__table__data__option{
    padding: 0 3rem 0 0;
}

.lendsqr__main__content___body__table__data_row {

    border-bottom: 1px solid rgba(33, 63, 125, 0.1);;
}

.lendsqr__main__content___body__table__data__status__inactive{

    background: rgba(84, 95, 125, 0.061);
    // opacity: 0.06;
    border-radius: 50px;
    padding: 0;
    text-align:center;
    margin-right: 10rem;
    p{
        color: #545F7D;
        opacity: 1;
    }
}


@media only screen and (max-width: 600px){
    .lendsqr__main__content___body__tables{


}

.lendsqr__main__content___body__table{
    padding: 0 10rem;
}

.lendsqr__main__content___body__table__head,
.lendsqr__main__content___body__table__data,
.lendsqr__main__content___body__table__data__option{

}

.lendsqr__main__content___body__table__head{

}

.lendsqr__main__content___body__table__data{
}

.lendsqr__main__content___body__table__data__option{
}

.lendsqr__main__content___body__table__data_row {

}

}
